<!-- <div class="navbar">
  <span class="border-top"></span>
  <%= image_tag 'hamburger.png', id: 'navbar-toggle', class: 'navbar-hamburger' %>
  <%= link_to :root, class: 'navbar-logo' do %>
    <h1 class="navbar-title">House of Decora</h1>
  <% end %>
  <div class="navbar-empty"></div>
</div>
<div id="navbar-slide" class="navbar-slide-menu">
  <div class="navbar-slide-menu-close">
    <p class="no-margin">Menu</p>
    <%= image_tag 'slide-menu-close.png' %>
  </div>
  <%= link_to 'About', about_path, class: 'navbar-slide-menu-links lighter' %>
  <%= link_to 'Services', services_path, class: 'navbar-slide-menu-links lighter' %>
  <%= link_to 'Gallery', gallery_path, class: 'navbar-slide-menu-links lighter' %>
  <%= link_to 'Testimonials', testimonials_path, class: 'navbar-slide-menu-links lighter' %>
  <%= link_to 'Contact', contact_path, class: 'navbar-slide-menu-links lighter' %>
</div>
<script>
  hamburger = document.getElementById('navbar-toggle');
  navbarSlide = document.getElementById('navbar-slide');
  navbarSlideMenuClose = document.querySelector('.navbar-slide-menu-close')
  hamburger.addEventListener('click', () => {
    navbarSlide.classList.toggle('navbar-slide-show')
  })
  navbarSlideMenuClose.addEventListener('click', () => {
    navbarSlide.classList.toggle('navbar-slide-show')
  })
</script>
 -->

<div class="navbar">
  <span class="border-top"></span>
  <div class="navbar_elements">
    <%#= image_tag 'hamburger.png', id: 'navbar-toggle', class: 'navbar-hamburger' %>
    <a href="/" class="navbar_title">House of Decora</a>
<!--     <div class="navbar-empty"></div> -->
  </div>
  <div class="navbar_links">
    <a href="/">INTERIORS</a>
    <a href="/">THE STUDIO</a>
    <a href="/">DECOR</a>
    <a href="/">LIGHTNING</a>
    <a href="/">FURNITURE</a>
    <a href="/">CONTACT</a>
    <a href="/" style="font-weight: 700;">SHOP</a>
  </div>
</div>
