<div class="contact-wrapper">
  <div class="contact-sections-container">

    <div class="contact-top">
      <div class="contact-section-one contact-sections">
        <div class="">
          <h2 class="boldest">HOW CAN WE HELP?</h2>
          <h2 class="boldest">DROP US AN EMAIL.</h2>
          <p>CONTACT@HOUSEOFDECORA.COM</p>
        </div>
        <div class="color-block"></div>
      </div>
      <div class="contact-section-two contact-sections">
        <%= image_tag 'contact-image-one' %>
      </div>
    </div>
    <div class="contact-bottom">
      <div class="contact-section-three contact-sections">
        <%= image_tag 'contact-image-two' %>
      </div>
      <div class="contact-section-four contact-sections">
        <%= form_for :send_email, url: send_email_path, html: { class: 'contact-form' } do |f| %>
          <div class="contact-form-inputs-container">
            <p class="no-margin">Your Full Name</p>
            <%= f.text_field :full_name, class: 'contact-form-inputs' %>
            <p class="no-margin">Email Address</p>
            <%= f.text_field :email, class: 'contact-form-inputs' %>
            <p class="no-margin">Message</p>
            <%= f.text_field :message, class: 'contact-form-inputs' %>
          </div>
          <div class="contact-form-buttons-container">
              <%= f.label :file, class: 'contact-form-button-left' do %>
                <%= image_tag 'arrow-up.png' %>
                <h2 class="no-margin lighter">UPLOAD FILE</h2>
              <% end %>
              <%= f.file_field :file, class: 'd-none' %>
            <%= f.button class: 'contact-form-button-right' do %>
              <h2 class="no-margin lighter">SUBMIT</h2>
              <%= image_tag 'arrow-right.png' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <%= image_tag 'contact-instagram', class: 'contact-instagram' %>
  </div>
</div>
